[submodule "frontend"]
	path = frontend
	url = https://github.com/salindupawan/skill-mentor-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/salindupawan/skill-mentor-backend.git
